<ng-container *ngIf="Bugs">
<h1 id="title" class="title">Modifier Bug Report</h1>

<nb-card>
  <nb-card-body>

    <button nbButton hero (click)="goBack()">Retour</button>
  </nb-card-body>
</nb-card>
  <nb-card size="medium">
  <nb-card-body>  
    
    <form>
      <div class="form-control-group">
      <nb-card>
        <nb-card-body>
        <label class="label" >User</label>
          <nb-user size="large"
                   name="{{ Bugs.user.firstname }} {{ Bugs.user.lastname }}"
                   title="ID {{ Bugs.user_id }} ( Email:{{ Bugs.user.email }} )">
          </nb-user>
      
        </nb-card-body>
      </nb-card>
    </div>
        <div class="form-control-group">
          <nb-card>
            <nb-card-body>
          <label class="label" >Description:</label><br>
        <textarea 
        nbInput
        fieldSize="small"
        [(ngModel)]="Bugs.description"
          name="description"
          #description
          placeholder="description"
        ></textarea>
      </nb-card-body>
    </nb-card>
      </div>
    </form>
      </nb-card-body>
</nb-card> 

      <nb-card>
        <nb-card-body>
          <button nbButton hero status="success"  (click)="save()">
            Valider
          </button>
    </nb-card-body>
  </nb-card>
</ng-container>
