<h1 id="title" class="title">Ajouter Training has place</h1>

<nb-card>
  <nb-card-body>

    <button nbButton hero (click)="goBack()">Retour</button>
  </nb-card-body>
</nb-card>
  <nb-card size="small">
  <nb-card-body>  
    
    <form>
  
      <div class="form-control-group">
        <label class="label">Trainig</label>
        <select #training_id placeholder="Training" name='training_id'>
          <option *ngFor="let training of trainings" value="{{training.id}}">{{training.id}} {{training.name}}</option>
        </select>
      </div>
        <div class="form-control-group">
          <label class="label">Place</label>
          <select #place_id placeholder="Place" name='place_id'>
            <option *ngFor="let place of places" value="{{place.id}}">{{place.name}} {{place.address}}</option>
          </select>
        </div>

    </form>
      </nb-card-body>
</nb-card> 

      <nb-card>
        <nb-card-body>
      <button nbButton hero status="success" (click)="add(training_id.value,place_id.value)">Valider</button>
    </nb-card-body>
  </nb-card>
