<h1 id="title" class="title">Ajouter un Alert</h1>

<nb-card>
  <nb-card-body>
    <button nbButton hero (click)="goBack()">Retour</button>
  </nb-card-body>
</nb-card>

<nb-card size="medium">
  <nb-card-body>

    <form>
      <div class="form-control-group">
        <label class="label">User</label>
        <select #user_id placeholder="User" name='user_id'>
          <option *ngFor="let user of users" value="{{user.id}}">{{user.firstname}} {{user.lastname}}</option>
        </select>
      </div>
      <div class="form-control-group">
        <label class="label">lng</label>
        <input nbInput fieldSize="small" name="lng" #lng placeholder="lng" />
      </div>
      <div class="form-control-group">
        <label class="label">lat</label>
        <input nbInput fieldSize="small" name="lat" #lat placeholder="lat" />
      </div>
      <div class="form-control-group">
        <label class="label">Status</label>
        <nb-toggle [(ngModel)]="initdata.status" status="success" name="status" #status></nb-toggle>
      </div>

    </form>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>
    <button nbButton hero status="success" (click)="add(status.value,lng.value, lat.value, user_id.value)">Valider</button>
  </nb-card-body>
</nb-card>
