<h1 id="title" class="title">Ajouter un Admin</h1>

<nb-card>
  <nb-card-body>

    <button nbButton hero (click)="goBack()">Retour</button>
  </nb-card-body>
</nb-card>
  <nb-card size="medium">
  <nb-card-body>  
    
    <form>
  
        <div class="form-control-group">
          <label class="label" >Firstname</label>
          <input
          nbInput
          fieldSize="small"
            name="firstname"
            #firstname
            placeholder="firstname"
          />
        </div>
        <div class="form-control-group">
          <label class="label" >Lastname</label>
          <input
          nbInput
          fieldSize="small"
            name="lastname"
            #lastname
            placeholder="lastname"
          />
        </div>
        <div class="form-control-group">
          <label class="label" >Email</label>
            <input
            nbInput
            fieldSize="small"
              name="email"
              #email
              placeholder="email"
            />
        </div>
        <div class="form-control-group">
          <label class="label" >Password</label>
          <input
          nbInput
          fieldSize="small"
            name="password"
            #password
            placeholder="password"
          />
        </div>
  
        <div class="form-control-group">
          <label class="label">Status</label>
          <nb-toggle [(ngModel)]="initdata.status" status="success" name="status" #status></nb-toggle>
        </div>
       

    </form>
      </nb-card-body>
</nb-card> 

      <nb-card>
        <nb-card-body>
      <button nbButton hero status="success" (click)="add(firstname.value,lastname.value,email.value,password.value,status.value)">Valider</button>
    </nb-card-body>
  </nb-card>
