<h1>Liste des bug report</h1>


    <!-- <label class="search-label" for="search">Search:</label>
    <input
      nbInput
      [nbFilterInput]="dataSource"
      id="search"
      class="search-input"
    /> -->
<button routerLink="./add">  Ajouter </button>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <td scope="col">description</td>
          <td scope="col">create date</td>
          <td scope="col">Supprimer</td>
          <td scope="col">Éditer</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of datas">
          <td scope="row">{{ data.description }}</td>
          <td>{{ data.create_at }}</td>

          <td>
            <span class="delete" title="delete" (click)="delete(data)"><button nbButton status="danger">Supprimer</button></span>
          </td>
            <td>
              
            <a class="edit" title="edit" routerLink="./edit/{{data.id}}"> <button nbButton status="info">Éditer</button></a>
          </td>
        </tr>
      </tbody>
    </table>

