<h1>Liste des Admin</h1>


<!-- <label class="search-label" for="search">Search:</label>
    <input
      nbInput
      [nbFilterInput]="dataSource"
      id="search"
      class="search-input"
    /> -->
<button routerLink="./add"> Ajouter </button>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <td scope="col"> firstname</td>
      <td scope="col">lastname</td>
      <td scope="col">email</td>
      <td scope="col">status</td>
      <td scope="col">Supprimer</td>
      <td scope="col">Éditer</td>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of datas">
      <td scope="row">{{ data.firstname }}</td>
      <td scope="row">{{ data.lastname }}</td>
      <td scope="row">{{ data.email }}</td>

      <td>{{ data.status }}</td>

      <td>
        <a class="delete" title="delete" (click)="delete(data)"> <button nbButton status="danger">Supprimer</button></a>
      </td>
      <td>
      <a class="edit" title="edit" routerLink="./edit/{{data.id}}"> <button nbButton status="info">Éditer</button></a>
      </td>
    </tr>
  </tbody>
</table>