<ng-container *ngIf="training">
<h1 id="title" class="title">Modifications</h1>
<nb-card>
  <nb-card-body>
    <button nbButton hero (click)="goBack()">Retour</button>
  </nb-card-body>
</nb-card>
<nb-card size="geant">
  <nb-card-body>
    <form>
      <div class="form-control-group">
        <label class="label" for="input-name">Nom :</label>
        <input
          name="name"
          nbInput
          fullWidth
          [(ngModel)]="training.name"
          id="input-name"
          placeholder="name"
        />
      </div>

      <div>
        <label class="label" for="input-start_date">Date de début</label>
        <input
          id="input-start_date"
          nbInput
          name="start_date"
          placeholder="start_date"
          [nbDatepicker]="formpicker"
          [(ngModel)]="training.start_date"
        />
        <nb-datepicker #formpicker></nb-datepicker>
      </div>
      <div>
        <label class="label" for="input-end_date">Date de fin</label>
        <input
          id="input-end_date"
          nbInput
          placeholder="end_date"
          [nbDatepicker]="formpicker2"
          [(ngModel)]="training.end_date"
          name="end_date"
        />
        <nb-datepicker #formpicker2></nb-datepicker>
      </div>

      <div class="form-control-group">
        <label class="label">status</label>
      <nb-toggle [(ngModel)]="training.status" status="success" name="status" #status (checkedChange)="onEnabledToggleChange()"></nb-toggle>
      </div>
    </form>
    </nb-card-body>
  </nb-card>
      <nb-card>
        <nb-card-body>
      <button nbButton hero status="success"  (click)="save()">Valider</button>
  </nb-card-body>
</nb-card>
</ng-container>
