<ng-container *ngIf="user">
  <h1 id="title" class="title">Modifier un utilisateur</h1>
  <nb-card>
    <nb-card-body>
      <button nbButton hero (click)="goBack()">Retour</button>
    </nb-card-body>
  </nb-card>
  <nb-card size="geant">
    <nb-card-body>

      <form>
        <div class="form-control-group">
          <label class="label">Prénom :</label>
          <input [(ngModel)]="user.firstname" name="firstname" #firstname placeholder="Prénom" />
        </div>

        <div class="form-control-group">
          <label class="label">Nom :</label>
          <input [(ngModel)]="user.lastname" name="lastname" #lastname placeholder="nom" />
        </div>

        <div class="form-control-group">
          <label class="label">adresse :</label>
          <input [(ngModel)]="user.address" name="address" #address placeholder="Adresse" />
        </div>
        <div class="form-control-group">
          <label class="label">password :　remplir uniquement si vous voulez modifier</label>
          <input  [(ngModel)]="user.password" name="password" #password placeholder="Password" />
        </div>
        <div>
          <label class="label" for="birthday">Date de naissance</label>
          <input [(ngModel)]="user.birthday" #birthday name='birthday' placeholder="date de naissance"
            [nbDatepicker]="formpicker" />
          <nb-datepicker #formpicker></nb-datepicker>
        </div>

        <div class="form-control-group">
          <label class="label">Téléphone</label>
          <input name="phone" #phone placeholder="phone" [(ngModel)]="user.phone" />
        </div>

        <div class="form-control-group">
          <label class="label">Email</label>
          <input name="email" #email placeholder="email" [(ngModel)]="user.email" />
        </div>

        <div class="form-control-group">
          <label class="label">Formation</label>
          <select [(ngModel)]="user.training_id" name='training_id' #training_id placeholder="Formation">
            <option *ngFor="let training of trainings" value="training.id">{{training.name}}</option>
          </select>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-body>
      
      <button nbButton hero status="success" (click)="save()">
        Valider
      </button>

    </nb-card-body>
  </nb-card>
</ng-container>

<a href="http://" target="_blank" rel="noopener noreferrer"></a>