<h1 id="title" class="title">Ajouter une formation (training)</h1>
<nb-card>
  <nb-card-body>
    <button nbButton hero (click)="goBack()">Retour</button>
  </nb-card-body>
</nb-card>
<nb-card size="geant">
  <nb-card-body>

    <form>
      <div class="form-control-group">
        <label class="label">Nom :</label>
        <input name="name" #name placeholder="name" />
      </div>

      <div>
        <label class="label" for="input-start_date">Date de début</label>
        <input #start_date placeholder="start_date" [nbDatepicker]="formpicker" />
        <nb-rangepicker #formpicker></nb-rangepicker>
      </div>
      <div>
        <label class="label" for="input-end_date">Date de fin</label>
        <input #end_date placeholder="end_date" [nbDatepicker]="formpicker2" />
        <nb-rangepicker #formpicker2></nb-rangepicker>
      </div>
      <div class="form-control-group">
        <label class="label">Status</label>
        <nb-toggle [(ngModel)]="initdata.status" status="success" name="status" #status></nb-toggle>
      </div>
    </form>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>
    <button nbButton hero status="success"
      (click)="add(name.value, start_date.value, end_date.value, status.value)">Valider</button>
  </nb-card-body>
</nb-card>