<h1 id="title" class="title">Ajouter User has Lift</h1>

<nb-card>
  <nb-card-body>

    <button nbButton hero (click)="goBack()">Retour</button>
  </nb-card-body>
</nb-card>
  <nb-card size="small">
  <nb-card-body>  
    
    <form>
      <div class="form-control-group">
        <label class="label" >driver</label>
       
        <nb-radio-group name="driver" #driver>
          <nb-radio value="0">Non driver</nb-radio>
          <nb-radio value="1">Driver</nb-radio>

        </nb-radio-group>
      </div>
      <div class="form-control-group">
        <label class="label">User</label>
        <select #user_id placeholder="User" name='user_id'>
          <option *ngFor="let user of users" value="{{user.id}}">{{user.firstname}} {{user.lastname}}</option>
        </select>
      </div>
      <div class="form-control-group">
        <label class="label">Lift</label>
        <select #lift_id placeholder="Lift" name='lift_id'>
          <option *ngFor="let lift of lifts" value="{{lift.id}}">ID: {{lift.date_departure}} - {{lift.date_departure}}</option>
        </select>
      </div>
    </form>
      </nb-card-body>
</nb-card> 

      <nb-card>
        <nb-card-body>
      <button nbButton hero status="success" (click)="add(driver.value,user_id.value,lift_id.value)">Valider</button>
    </nb-card-body>
  </nb-card>
